@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <h3 class="display-6">Stay Organized with your Personal To-Do List</h3>
        <p>Track tasks, mark them complete, and stay productive every day.</p>

        <a asp-page="/Todo" class="btn btn-success btn-lg mt-3">View My Tasks</a>
    </div>
</div>

